<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin - UniMarket</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        {{#if styles}}
            {{#each styles}}
                <link rel="stylesheet" href="{{this}}">
            {{/each}}
        {{/if}}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        {{#if scripts}}
            {{#each scripts}}
                <script src="{{this}}" defer></script>
            {{/each}}
        {{/if}}
    </head>
    <body>
        <nav>
            <section class="nav-top">
                <div class="nav-header">
                    <h3>AniMarket</h3>
                    <p>Admin Panel</p>
                </div>
                <ul class="nav-links">
                    <li class="nav-link {{#if activeDashboard}}active{{/if}}">
                        <a href="/admin/dashboard">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="nav-link-icon"><path d="M540-600v-200h260v200H540ZM160-480v-320h260v320H160Zm380 320v-320h260v320H540Zm-380 0v-200h260v200H160Zm40-360h180v-240H200v240Zm380 320h180v-240H580v240Zm0-440h180v-120H580v120ZM200-200h180v-120H200v120Zm180-320Zm200-120Zm0 200ZM380-320Z"/></svg>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-link {{#if activeProducts}}active{{/if}}">
                        <a href="/admin/products">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="nav-link-icon"><path d="M200-647.69v423.07q0 10.77 6.92 17.7 6.93 6.92 17.7 6.92h510.76q10.77 0 17.7-6.92 6.92-6.93 6.92-17.7v-423.07H600v271.54l-120-60-120 60v-271.54H200ZM224.62-160q-26.85 0-45.74-18.88Q160-197.77 160-224.62v-435.92q0-11.69 3.73-22t11.19-19l62.31-74.84q8.69-11.7 21.73-17.66Q272-800 286.92-800h384.62q14.92 0 28.34 5.96 13.43 5.96 22.12 17.66L785.08-700q7.46 8.69 11.19 19.38 3.73 10.7 3.73 22.39v433.61q0 26.85-18.88 45.74Q762.23-160 735.38-160H224.62Zm-9.39-527.69H744l-53.23-63.85q-3.85-3.84-8.85-6.15-5-2.31-10.38-2.31H287.69q-5.38 0-10.38 2.31-5 2.31-8.85 6.15l-53.23 63.85Zm184.77 40v206.15l80-40 80 40v-206.15H400Zm-200 0h560-560Z"/></svg>
                            Products
                        </a>
                    </li>
                    <li class="nav-link {{#if activeUsers}}active{{/if}}">
                        <a href="/admin/users">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="nav-link-icon"><path d="M103.85-215.38v-65.85q0-27.85 14.42-47.89 14.42-20.03 38.76-32.02 52.05-24.78 103.35-39.51 51.31-14.73 123.47-14.73 72.15 0 123.46 14.73 51.31 14.73 103.35 39.51 24.34 11.99 38.76 32.02 14.43 20.04 14.43 47.89v65.85h-560Zm640 0v-67.7q0-34.77-14.08-65.64-14.07-30.87-39.92-52.97 29.46 6 56.77 16.65 27.3 10.66 54 23.96 26 13.08 40.77 33.47 14.76 20.4 14.76 44.53v67.7h-112.3ZM298.92-539.69q-35.07-35.08-35.07-84.93 0-49.84 35.07-84.92 35.08-35.08 84.93-35.08 49.84 0 84.92 35.08t35.08 84.92q0 49.85-35.08 84.93-35.08 35.07-84.92 35.07-49.85 0-84.93-35.07Zm340.45 0q-35.25 35.07-84.75 35.07-2.54 0-6.47-.57-3.92-.58-6.46-1.27 20.33-24.9 31.24-55.24 10.92-30.34 10.92-63.01t-11.43-62.44q-11.42-29.77-30.73-55.62 3.23-1.15 6.46-1.5 3.23-.35 6.47-.35 49.5 0 84.75 35.08t35.25 84.92q0 49.85-35.25 84.93ZM143.85-255.38h480v-25.85q0-14.08-7.04-24.62-7.04-10.53-25.27-20.15-44.77-23.92-94.39-36.65-49.61-12.73-113.3-12.73-63.7 0-113.31 12.73-49.62 12.73-94.39 36.65-18.23 9.62-25.27 20.15-7.03 10.54-7.03 24.62v25.85Zm296.5-312.74q23.5-23.5 23.5-56.5t-23.5-56.5q-23.5-23.5-56.5-23.5t-56.5 23.5q-23.5 23.5-23.5 56.5t23.5 56.5q23.5 23.5 56.5 23.5t56.5-23.5Zm-56.5 312.74Zm0-369.24Z"/></svg>
                            Users
                        </a>
                    </li>
                    <li class="nav-link {{#if activeOrders}}active{{/if}}">
                        <a href="/admin/orders">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="nav-link-icon"><path d="M264.62-120q-27.62 0-46.12-18.5Q200-157 200-184.62v-430.76q0-27.62 18.5-46.12Q237-680 264.62-680H340v-20q0-58.31 40.85-99.15Q421.69-840 480-840t99.15 40.85Q620-758.31 620-700v20h75.38q27.62 0 46.12 18.5Q760-643 760-615.38v430.76q0 27.62-18.5 46.12Q723-120 695.38-120H264.62Zm0-40h430.76q9.24 0 16.93-7.69 7.69-7.69 7.69-16.93v-430.76q0-9.24-7.69-16.93-7.69-7.69-16.93-7.69H620v100q0 8.54-5.73 14.27T600-520q-8.54 0-14.27-5.73T580-540v-100H380v100q0 8.54-5.73 14.27T360-520q-8.54 0-14.27-5.73T340-540v-100h-75.38q-9.24 0-16.93 7.69-7.69 7.69-7.69 16.93v430.76q0 9.24 7.69 16.93 7.69 7.69 16.93 7.69ZM380-680h200v-20q0-42.23-28.88-71.12Q522.23-800 480-800q-42.23 0-71.12 28.88Q380-742.23 380-700v20ZM240-160v-480 480Z"/></svg>
                            Orders
                        </a>
                    </li>
                </ul>
            </section>
            <a href="/logout" class="logout-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="logout-icon"><path d="M224.62-160q-27.62 0-46.12-18.5Q160-197 160-224.62v-510.76q0-27.62 18.5-46.12Q197-800 224.62-800h256.15v40H224.62q-9.24 0-16.93 7.69-7.69 7.69-7.69 16.93v510.76q0 9.24 7.69 16.93 7.69 7.69 16.93 7.69h256.15v40H224.62Zm433.84-178.46-28.08-28.77L723.15-460H367.69v-40h355.46l-92.77-92.77 28.08-28.77L800-480 658.46-338.46Z"/></svg>
                Logout
            </a>
        </nav>
        <main>
            {{{body}}}
        </main>
    </body>
</html>