<section class="top-bar">
    <h1>AniMarket Admin Dashboard</h1>
</section>
<section class="summary-cards">
    <div class="summary-card">
        <h2 class="summary-header">New Users</h2>
        <p class="summary-data">{{newUsers}}</p>
        <p class="disabled-text">This Month</p>
    </div>
    <div class="summary-card">
        <h2 class="summary-header">New Products</h2>
        <p class="summary-data">{{newProducts}}</p>
        <p class="disabled-text">This Month</p>
    </div>
    <div class="summary-card">
        <h2 class="summary-header">Total Orders</h2>
        <p class="summary-data">{{newOrders}}</p>
        <p class="disabled-text">This Month</p>
    </div>
    <div class="summary-card">
        <h2 class="summary-header">Total Products</h2>
        <p class="summary-data">{{totalProducts}}</p>
        <p class="disabled-text">All time</p>
    </div>
</section>